

#firstbox {
    padding: 0%;
    margin: 0%;
}

.header1 {
    background-color: rgb(41, 84, 127);
    color: white;
    margin: 0%;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 15px;
}

#img1 {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.secondbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puppies1 {
    height: fit-content;
    margin: 20px;
}

#centerbox {
    height: 310px;
    width: 25%;
    margin: 20px;
    background-color: rgb(236, 66, 66);
}

#centertext {
    text-align: center;
    font-size: 58px;
    font-family: Arial, sans-serif;
}

#header2 {
    text-align: center;
    font-family: Arial, sans-serif;
}

.thirdbox {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puppies2 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer1 {
    background-color: rgb(41, 84, 127);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}   


/* RESPONSIVE DESIGN */


@media (min-width: 768px) {
  
  .secondbox, .thirdbox {
    flex-direction: row;
    justify-content: center;
  }

  #centerbox {
    background-color: crimson;
    width: 25%; /* Shrinks back down to desktop size */
    height: 310px;
    margin: 20px;
    padding-right: 85px;
    padding-left: 68px;
  } 

  .puppies2 {
    width: 49%;
  }

  .puppies2:nth-child(2) {
    margin-left: 1%;
  }
}